<% provide(:title, 'Contact Us') %>
<h1>Contact Us Page</h1>
<p>
  Contact Number: 075173493** <br>
  Contact Email : ik1004@my.*****.ac.uk <br>
  Contact Page  : <a href= http://www.facebook.com/giannis.kaoullas> Facebook Page </a>
</p>
